/* CSS declarations go here */
html{

}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }

.navOption {
	color: #A8A7A7;
	font-size: 18px;
	margin-top:15px;
	list-style: none;
}
.goodAt, .badAt {
	list-style: none;
	text-align:center;
	margin-top:160px;
}
.goodAt li, .badAt li {
	list-style: none;
	text-align:center;
	margin:20px;
	font-size: 18px; 
	color: #A8A7A7 ;
}

.block {
	background-color: #FF7C96;
	height: 150px;
	opacity: .5;
}